body {
  font-family: Arial, sans-serif;
  background-color: #ff96d0;
  color: #333;
  padding: 20px;
}

textarea {
  font-family: monospace;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}